body {
    height: 100vh;
    width: 100vw;
    background-image: url("res/pexels-stefan-stefancik-91228.jpg");
    background-size: cover;
    margin:0;
    padding: 0;
}

.nav_header {
    width: 100vw;
    height: 5vh;
    background-color: black;
    opacity: 0.5;
}