* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("res/pexels-stefan-stefancik-91228.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.60);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.form-select {
    background-color: #1C2D1B;
}

.mt-3 {
    margin-top: 3vh !important;
}

.col-md {
    width: 50% !important;
    height: 50% !important;
}

.interval-select {
    margin-left: 5%;
}

.cont {
    background-color: #0006;
}

.cont2 {
    background-color: #0002;
    width: 100%;
    height: 100%;
}
