
/*
    general
*/

:root {
    --color1: #172815;
    --color2: #DBFF78;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a {
    /*color: inherit;*/
    /*text-decoration: none;*/
}

body {
}

body.timeout > #main {
    background-color: gray;
}

#main {
    display: flex;
    min-height: 90vh;
}

/*
    navbar (left)
 */

#navbar {
    background: var(--color1);
    color: var(--color2);
    overflow-y: visible;
    flex: 200px 0 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

#navbar > nav {
    overflow: inherit;
    position: sticky;
    top: 0;
}

#navbar > :last-child {
    position: sticky;
    bottom: 0;
    flex-shrink: 0;
    flex-grow: 0;
}

#navbar .tooltip-base {
    position: relative;
    overflow: visible;
}

#navbar .tooltip-base:not(:hover) > .card {
    display: none;
}

#navbar .tooltip-base > .card {
    color: black;
    z-index: 10;
    position: absolute;
    left: 105%;
    top: -1em;
    min-width: 100%;
    max-width: 70vw;
}

/*
    content (right)
 */

#content {
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    padding: 10px;
    width: 100%;
}

#content .chart-container {
    margin: 10px;
    width: 500px;
    position: static;
}

/*
    footer
 */

#footer {
    min-height: 10vh;
    background: var(--color1);
    color: var(--color2);
}

#footer > * {
    text-align: center;
}

label.off {

}