* {
    font-family: 'Karla', serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../res/pexels-stefan-stefancik-91228.jpg");
    background-size: cover;
    margin:0;
    padding: 0;
}
#loginbox {
    display: flex;
    flex-display: column;
    width: 200px;
    border: 1px solid black;
    background-color: black;
    margin: auto;
}

#infobox{
    background-color: #1C2D1B;
    color: white;
    margin: ;
}


#username{
    background-color: darkgray;
    border: 1px solid black;

}

#passwort{
    background-color: darkgray;

    border: 1px solid black;
}

#loginbutton{
    background-color: #1C2D1B;
    color: white;
    border: 1px solid white;
    padding: 1vh 2vw;
    font-size: 20px;
}

#merken{
    color: white;
}
.login{
    margin: 10px;
    padding: 10px;
}