* {
    font-family: 'Karla', serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url("../res/pexels-stefan-stefancik-91228.jpg");
    background-size: cover;
    margin:0;
    padding: 0;
}

#box{
    border: 1px solid black;
}

#infobox{
    background-color: #172815;
    color: white;
    font-size: 15px;
    padding: 1vw 1vh;
}

#loginbox {
    background-color: black;
    width: 50vw;
    height: 50vh;
}

#username{
    background-color:gray;
    border: 1px solid black;
}

#passwort{
    background-color: gray;
    border: 1px solid black;
}

#loginbutton{
    background-color: #172815;
    color: white;
    border: 0.5px solid white;
    padding: 1vh 2vw;
    font-size: 20px;
}

.login{
    margin: 10px;
    padding: 10px;
}