* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("../res/pexels-stefan-stefancik-91228.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.60);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

#infobox {
    background-color: #172815;
    color: white;
    font-size: 18.5px;
}

#infotext {
    color: white;
    font-size: 18.5px;
}

#loginbox {
    background-color: rgba(0, 0, 0, 0.75);
}

input {
    background-color: rgba(100, 100, 100, 0.70);
    color: white;
}

#loginbutton {
    background-color: #172815;
    padding: 1vh 2vw;
    font-size: 20px;
}

.login {
    padding: 15px;
    margin: 15px;
    font-size: 20px;
}
